html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header__importantHeader--homepage {
    color: rgba(124, 17, 17, 0.757);
    text-align: center;
}

.header__picture--homepage {
    margin: 0 auto;
    display: block;
}

.header__centerButton--homepage {
    text-align: center;
    padding: 20px;
}